<div class="loading_screen loading_screen_background"></div>
<div class="loading_screen loading_screen_gif">
  <div class="loading_screen-gif">
    <img src="<%= asset_path("loading_page.gif") %>">
  </div>
</div>
